{
    auto_https off
}

http://localhost:8080 {
    route {
        mroki_gate {
            live    "http://httpbin.org/post?mroki_gate=live"
            shadow  "http://httpbin.org/post?mroki_gate=shadow"
        }
    }
}
